<div class="text-center">
    <h1 class="display-4">CTrader API</h1>
</div>

@model IEnumerable<CTraderMVC.Models.Order>

@{
    ViewBag.Title = "Orders";
}
@if (Model is not null)
{
    <div class="zones-wrapper col-lg-6 offset-lg-3">
        <table class="table table-light table-hover zones-table">
            <tr>
                <th> Order Id </th>
                <th>Zone ID </th>
                <th>Zone Type </th>
                <th> Symbol </th>
                <th>Emtry Price </th>
                <th>Entry Time </th>
                <th> Stop Loss </th>
                <th>Take Profit </th>
                <th>Pips </th>

            </tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.orderId</td>
                    <td>@d.zoneId</td>
                    <td>@d.zoneType</td>
                    <td>@d.symbol</td>
                    <td>@d.entryPrice</td>
                    <td>@d.entryTime</td>
                    <td>@d.stopLoss</td>
                    <td>@d.takeProfit</td>
                    <td>@d.pips</td>

                </tr>
            }
        </table>
    </div>

    <br />
    <br />

    <div class="zones-wrapper col-lg-6 offset-lg-3">
        <div class="row">
            <div class="column">
                <div class="card">
                    <p><i class="fa fa-user"></i></p>
                    <h3>@Model.Where(x => x.zoneType == "Demand").Count()</h3>
                    <p>Buy Orders</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-check"></i></p>
                    <h3>@Model.Where(x => x.zoneType == "Supply").Count()</h3>
                    <p>Sell Orders</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-smile-o"></i></p>
                    <h3>@Model.Count()</h3>
                    <p>Number of Orders</p>
                </div>
            </div>
        </div>
    </div>
}

@if (Model is null)
{
    <h1>User Not Logged in</h1>
}

