@{
    ViewData["Title"] = "Zones";
}

<div class="text-center">
    <h1 class="display-4">CTrader API</h1>
</div>

@model IEnumerable<CTraderMVC.Models.Zones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model is not null)
{
    <div class="zones-wrapper col-lg-6 offset-lg-3">
        <a class="btn btn-success" asp-area="" asp-controller="ZonesOrders" asp-action="CreateZone">Create New Zone</a>
        <table class="table table-light table-hover zones-table">
            <tr>
                <th>ID</th>
                <th> Time Stamp </th>
                <th>Zone Type </th>
                <th>Zone Status </th>
                <th style="width:20%">Actions</th>
            </tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.ID</td>
                    <td>@d.TimeS</td>
                    <td>@d.ZoneType</td>
                    <td>@d.ZoneStatus</td>
                    <td>
                        <div class="row">
                            <a class="btn btn-danger col-lg-6" asp-area="" asp-controller="ZonesOrders" asp-action="Delete" asp-route-id="@d.ID">Delete</a>
                            <a class="btn btn-primary col-lg-6" asp-area="" asp-controller="ZonesOrders" asp-action="Update" asp-route-id="@d.ID">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>

}


@if (Model is null)
{
    <h1>User Not Logged in</h1>
}


