@{
    ViewData["Title"] = "Zones";
}

<div class="text-center">
    <h1 class="display-4">CTrader API</h1>
</div>

@model IEnumerable<CTraderMVC.Models.Zones>

@{
    ViewBag.Title = "Zones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model is not null)
{
    <div class="zones-wrapper col-lg-6 offset-lg-3">
        <a class="btn btn-success" asp-area="" asp-controller="Zone" asp-action="CreateZone">Create New Zone</a>
        <table class="table table-light table-hover zones-table">
            <tr>
                <th>ID</th>
                <th> Time Stamp </th>
                <th>Zone Type </th>
                <th>Zone Status </th>
                <th style="width:20%">Actions</th>
            </tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.ID</td>
                    <td>@d.TimeS</td>
                    <td>@d.ZoneType</td>
                    <td>@d.ZoneStatus</td>
                    <td>
                        <div class="row">
                            <a class="btn btn-danger col-lg-6" asp-area="" asp-controller="Zone" asp-action="Delete" asp-route-id="@d.ID">Delete</a>
                            <a class="btn btn-primary col-lg-6" asp-area="" asp-controller="Zone" asp-action="Update" asp-route-id="@d.ID">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>

    <br /><br />

    <div class="zones-wrapper col-lg-6 offset-lg-3">
        <div class="row">
            <div class="column">
                <div class="card">
                    <p><i class="fa fa-user"></i></p>
                    <h3>@Model.Where(x => x.ZoneType == "Demand").Count()</h3>
                    <p>Demand Zones</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-check"></i></p>
                    <h3>@Model.Where(x => x.ZoneType == "Supply").Count()</h3>
                    <p>Supply Zones</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-smile-o"></i></p>
                    <h3>@Model.Where(x => x.ZoneStatus == true).Count()</h3>
                    <p>Active Zones</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-coffee"></i></p>
                    <h3>@Model.Where(x => x.ZoneStatus == false).Count()</h3>
                    <p>Inactive Zones</p>
                </div>
            </div>
        </div>
    </div>
}


@if (Model is null)
{
    <h1>User Not Logged in</h1>
}


